Source: ros-noetic-fpsdk-ros1
Section: misc
Priority: optional
Maintainer: Fixposition AG <support@fixposition.com>
Build-Depends: debhelper (>= 9.0.0),
    ros-noetic-catkin,
    ros-noetic-roscpp,
    ros-noetic-rosconsole,
    ros-noetic-rosbag,
    ros-noetic-std-msgs,
    ros-noetic-sensor-msgs,
    ros-noetic-geometry-msgs,
    ros-noetic-tf2-msgs,
    ros-noetic-nav-msgs,
    ros-noetic-topic-tools,
    ros-noetic-genmsg
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-fpsdk-ros1
Architecture: any
Depends: ${shlibs:Depends},
    ${misc:Depends},
    ros-noetic-roscpp,
    ros-noetic-rosconsole,
    ros-noetic-rosbag,
    ros-noetic-std-msgs,
    ros-noetic-sensor-msgs,
    ros-noetic-geometry-msgs,
    ros-noetic-tf2-msgs,
    ros-noetic-nav-msgs,
    ros-noetic-topic-tools,
    ros-noetic-genmsg
Description: Fixposition SDK
